.title {
  margin: 3rem 0;
  text-align: center;
}

.levelsList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.levelItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 80px;
  background: #f1f5f9;
  border-radius: 0.5rem;
}

.levelItem[data-completed] {
  opacity: 0.5;
}

.levelNumber {
  font-weight: 500;
}

.levelId {
  font-size: 0.75rem;
  color: #333;
}
