.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 3.5rem;
  box-shadow: #ccc 0 2px 8px;
  border-bottom: 1px solid #ccc;
  background-color: white;
}

.left,
.center,
.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
}

.left {
  justify-content: start;
}

.center {
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 500;
}

.right {
  justify-content: end;
}
