@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .flex-2 {
    flex: 2;
  }

  .flex-3 {
    flex: 3;
  }

  .col {
    @apply flex flex-col;
  }

  .row {
    @apply flex flex-row;
  }

  .flip-horizontal {
    @apply transform;
    --tw-scale-x: -1;
  }
}

html {
  font-size: 12px;
}

html.mobile {
  font-size: 16px;
}

html,
body,
#root {
  @apply h-full font-mono;
}

body {
  @apply m-0;
}
