@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* prettier-ignore */
  :root {
    --color-bg-body:        255 255 255;  /* #ffffff */
    --color-bg-muted:       241 245 249;  /* #f1f5f9 */

    --color-shadow:         212 212 216;  /* #d4d4d8 */
    --color-border:         241 245 249;  /* #f1f5f9 */

    --color-text-body:      0 0 0;        /* #000000 */
    --color-text-inverted:  255 255 255;  /* #ffffff */
    --color-text-muted:     115 115 115;  /* #737373 */
    --color-text-green:     5 150 105;    /* #059669 */
    --color-text-red:       194 65 12;    /* #c2410c */
  }

  /* prettier-ignore */
  :root.dark {
    --color-bg-body:        24 24 27;     /* #18181b */
    --color-bg-muted:       63 63 70;     /* #3f3f46 */

    --color-shadow:         39 39 42;     /* #27272a */
    --color-border:         63 63 70;     /* #3f3f46 */

    --color-text-body:      244 244 245;  /* #f4f4f5 */
    --color-text-inverted:  0 0 0;        /* #000000 */
    --color-text-muted:     161 161 170;  /* #a1a1aa */
    --color-text-green:     5 150 105;    /* #059669 */
    --color-text-red:       194 65 12;    /* #c2410c */
  }
}

@layer utilities {
  .flex-2 {
    flex: 2;
  }

  .flex-3 {
    flex: 3;
  }

  .col {
    @apply flex flex-col;
  }

  .row {
    @apply flex flex-row;
  }

  .flip-horizontal {
    @apply transform;
    --tw-scale-x: -1;
  }
}

html {
  @apply font-mono bg-body text-body;
  font-size: 12px;
}

html.mobile {
  font-size: 16px;
}

html.no-touch main {
  touch-action: none;
}
